@mixin star($color) {
  margin: 20px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  hr {
    width: 112px;
    border: none;
    background-color: $color;
    border-radius: 4px;
    height: 4px;
  }
  i {
    font-size: 32px;
    color: $color;
  }
}
