.footer {
  background-color: #2c3350;
  padding: 96px 0;
  color: #fff;
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .location {
        flex: 0 0 30%;
        .title {
          margin-bottom: 24px;
          font-size: 24px;
          p {
            font-size: 20px;
          }
        }
      }
      .web {
        flex: 0 0 23%;
        .title {
          margin-bottom: 24px;
          font-size: 24px;
        }
        .socialIcons {
          display: flex;
          width: 100%;
          gap: 10px;
          a {
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2px solid #fff;
            width: 50px;
            i {
              padding: 12px;
              color: #fff;
              font-size: 24px;
            }
          }
        }
      }
      .aboutFreelancer {
        flex: 0 0 23%;
        .title {
          margin-bottom: 24px;
          font-size: 24px;
        }
      }
    }
  }
}
